*.cnts
*.pru
*.mod
*.hdf5
*.wav
*.wav.trn
*.flac
*.flac.trn
*.tar.gz
*.pyc
*.flac
*.trans.txt
*.trn
*.id
.ipynb_checkpoints
**/*.ipynb_checkpoints/
*.zip
*.hist
model/data_handling/language_model_dat/
*.npy
*.npz
